*{
    margin: 0px;
    padding: 0px;
}
.manu-container{
    background-color: #282727;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}



.logo-photo{
    width: 100px;
}